<div class="bg-[#e3e4e4]">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">{{title}}</span>
          <img class="h-8 w-auto" src="assets/static/creaition_logo.svg" alt="">
        </a>
      </div>
    </nav>
  </header>

  <main class="grid min-h-full px-6 py-24 sm:py-32 lg:px-12">
    <div class="grid grid-cols-1 md:gap-10 lg:grid-cols-2">
      <div class="w-full">
        <h1 class="mt-10 md:mt-40 text-6xl font-bold tracking-tight text-gray-900 md:text-8xl lowercase" style="
        line-height: 1.05;
        ">
          enabling
          the creators
          of tomorrow
        </h1>
        <p class="mt-6 text-base leading-7 text-gray-600">
          cre[ai]tion –– a platform that inspires through design created by artificial intelligence.
        </p>
      </div>

      <div class="w-full h-full max-md:mt-10">

        <!--        <form class="h-full" [formGroup]="uploadForm" (ngSubmit)="submit()" *ngIf="!urls.length">-->
        <!-- Select File and it's visual block -->
        <div *ngIf="!urls.length" class="flex items-center justify-center w-full h-full">
          <label for="dropzone-file"
                 class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
              <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                   xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
              </svg>
              <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                class="font-semibold">Click to upload</span> or drag and drop</p>
              <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG</p>
            </div>
            <input id="dropzone-file" type="file" multiple accept="image/*" (change)="detectFiles($event)"
                   class="hidden"/>
          </label>
        </div>
        <!--        </form>-->


        <div class="bg-white px-6 py-6 rounded" *ngIf="urls.length">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-2 justify-center" *ngIf="!hasUploaded; else elseBlock">
            <div *ngFor="let myImg of urls">
              <img class="h-60 w-full max-w-full rounded-lg object-cover" [src]="myImg"
                   alt="user picked input to be morphed">
            </div>
          </div>

          <ng-template #elseBlock>
            <div class="justify-center">
              <img class="max-h-[50vh] w-full max-w-full rounded-lg object-cover" [src]="outputImage"
                   alt="user picked input to be morphed">
            </div>
          </ng-template>

          <!--          CTAs -->
          <div class="inline-flex rounded-md mt-3 justify-center w-full gap-2">
            <button type="button"
                    *ngIf="!hasUploaded"
                    [disabled]="isWorking"
                    (click)="handleUpload()"
                    class="disabled:opacity-50 font-bold px-4 py-2 bg-[#e3f0ff] focus:border-[#e3f0ff] hover:border-[#e3f0ff] border-t border-b  rounded-full  focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900  dark:border-white dark:hover:text-white dark:dark:hover:bg-gray-700 dark:focus:bg-gray-700">
              Upload files
            </button>

            <ng-container *ngIf="hasUploaded">
              <button type="button"
                      [disabled]="isWorking"
                      (click)="handleRegenerate()"
                      class="inline-flex items-center align-center justify-center gap-2 disabled:opacity-50 font-bold px-4 py-2 bg-[#e3f0ff] focus:border-[#e3f0ff] hover:border-[#e3f0ff] border-t border-b rounded-full focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900  dark:border-white dark:hover:text-white dark:dark:hover:bg-gray-700 dark:focus:bg-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                        d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3"/>
                </svg>
                <span>Regenerate</span>
              </button>
              <button type="button"
                      (click)="handleReset()"
                      class="px-4 py-2 bg-[#e3f0ff] focus:border-[#e3f0ff] hover:border-[#e3f0ff] font-medium border-t border-b rounded-full focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900  dark:border-white dark:hover:text-white dark:dark:hover:bg-gray-700 dark:focus:bg-gray-700">
                Reset
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </main>

</div>
